{% extends 'base.html.twig' %}

{% block title %}Register new User{% endblock %}
{% block caption %}Register new User{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }
</style>

<div class="example-wrapper">
    <h1>Register new User</h1>

    {{ form_start(form, { 'attr': {
        'class' : 'form-control' }})
    }}

    {{ form_row(form.email, { 'attr': {
        'rows' : '10',
        'class' : 'form-control',
        'placeholder' : 'Enter your email',
        'cols' : '50' }})
    }}

    {{ form_row(form.plainPassword.first, { 'attr': {
        'rows' : '10',
        'class' : 'form-control',
        'placeholder' : 'Enter password (>= 6 simbols)',
        'cols' : '50' }})
    }}

    {{ form_row(form.plainPassword.second, { 'attr': {
        'rows' : '10',
        'class' : 'form-control',
        'placeholder' : 'Retype password',
        'cols' : '50' }})
    }}

    <div><button type="submit" class="btn btn-primary">Save</button></div>
    {{ form_end(form) }}
</div>
{% endblock %}
